<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>uniprot_id</th>
      <th>drugbank_ids</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>O15438</td>
      <td>DB00271, DB00879, DB00990, DB01132, DB01220</td>
    </tr>
    <tr>
      <th>1</th>
      <td>O15439</td>
      <td>DB00136, DB00485, DB00649, DB00990</td>
    </tr>
    <tr>
      <th>2</th>
      <td>O95342</td>
      <td>DB06335</td>
    </tr>
    <tr>
      <th>3</th>
      <td>P35372</td>
      <td>DB00704</td>
    </tr>
    <tr>
      <th>4</th>
      <td>P41143</td>
      <td>DB00704</td>
    </tr>
    <tr>
      <th>5</th>
      <td>P41145</td>
      <td>DB00704</td>
    </tr>
    <tr>
      <th>6</th>
      <td>P41146</td>
      <td>DB00704</td>
    </tr>
    <tr>
      <th>7</th>
      <td>O15244</td>
      <td></td>
    </tr>
    <tr>
      <th>8</th>
      <td>O15245</td>
      <td></td>
    </tr>
  </tbody>
</table>