{% block title %}{% endblock %} {% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            color: #000000;
            font-family: Verdana;
            font-size: 16px;
        }

        table,
        th,
        td {
            border: 1px solid #0088ff;
            border-collapse: collapse;
            padding: 3px;
            font-family: Verdana;
            font-size: 12px;
            text-align: left;
        }
    </style>
</head>

<body>
    {% if objects %}
    <table id='result' class='display'>
        <thead>
            <tr>
                {% for header in headers %}
                <th>{{header}}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for object in objects %}
            <tr>
                {% for k, val in object.items() %}
                <td>{{val}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</body>

</html>
{% endblock %}