<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <ul>
            <li>
                <button>
                    <a href="">
                        Show lists
                    </a>
                </button>
            </li>
            <li>
                <button>
                    <a href="">
                        Interactions of a drug
                    </a>
                </button>
            </li>
            <li>
                <button>
                    <a href="">
                        Side effects of a drug
                    </a>
                </button>
            </li>
            <li>
                <button>
                    <a href="">
                        Interacting targets of a specific drug.
                    </a>
                </button>
            </li>
            <li>
                <button>
                    <a href="">
                        Drugs that affect the same protein.
                    </a>
                </button>
            </li>
            <li>
                <button>
                    <a href="">
                        Proteins that bind the same drug.
                    </a>
                </button>
            </li>
            <li>
                <button>
                    <a href="">
                        Drugs that have a specific side effect.
                    </a>
                </button>
            </li>
            <li>
                <button>
                    <a href="">
                        Search a keyword and view the drugs that contain this keyword in their descriptions.
                    </a>
                </button>
            </li>
            <li>
                <button>
                    <a href="">
                        The drug(s) with the least amount of side effects that interact with a specific
                        protein.
                    </a>
                </button>
            </li>
            <li>
                <button>
                    <a href="">
                        The DOI of papers and contributors.
                    </a>
                </button>
            </li>
            <li>
                <button>
                    <a href="">
                        Rank institutes according to their total scores (Decreasing order).
                    </a>
                </button>
            </li>
            <li>
                <button>
                    <a href="">
                        Filter interacting targets of a specific drug considering the selected measurement
                        type and the range of the affinity values.
                    </a>
                </button>
            </li>


        </ul>
    </div>

</body>

</html>