<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <ul>
            <li>
                <button>
                    <a href="">
                        Add new user
                    </a>
                </button>
            </li>
            <li>
                <button>
                    <a href="">
                        Update affinity values
                    </a>
                </button>
            </li>
            <li>
                <button>
                    <a href="">
                        Delete proteins
                    </a>
                </button>
            </li>
            <li>
                <button>
                    <a href="">
                        Update contributers
                    </a>
                </button>
            </li>
            <li>
                <button>
                    <a href="">
                        Show list page
                    </a>
                </button>
            </li>
        </ul>
    </div>

</body>

</html>